form(name="input", action="http://localhost:3000/login", method="POST")
	p Login into TCC service
	table
		tr
			td Username: 
			td 
				input(type="text", name="username")
		tr
			td Password: 
			td
				input(type="password", name="password")
	br
	input(type="submit", value="Login")
	
p Or register:
form(name="input", action="http://localhost:3000/register", method="POST")
	table
		tr
			td Username: 
			td
				input(type="text", name="username")
		tr
			td Password: 
			td
				input(type="password", name="password")
		tr
			td Email: 
			td 
				input(type="text", name="email")
	br
	input(type="submit", value="Register")